{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{#       #}
{# Title #}
{#       #}
{% block title %}{% trans "Weight comparision" %}{% endblock %}

{#        #}
{# Header #}
{#        #}
{% block header %}
<script src="{% static 'js/weight.js' %}"></script>

{% endblock %}



{#         #}
{# Content #}
{#         #}
{% block content %}
<div id="current-username" data-current-username="{{ owner_user.username }}">
    <h3>{{ owner_user.username }}</h3>
</div>


{% if not min_date %}
<p>
    {% trans "There is no chart here because there are no weight entries." %}
    {% trans "Use link to add one." %}
</p>
{% endif %}

<div id="weight_diagram"></div>
{% if other_user %}
    <div id="other-user" data-other-user="{{ other_user.username }}">
            <h3>{{ other_user.username }}</h3>
        </div>

    <div id="weight_diagram_other_user"></div>
{% endif %}

{% endblock %}



{#                  #}
{#  Select partner  #}
{#                  #}

{% block select %}
{% if is_owner %}
<div class="form-group">
    <label for="sel1">Select partner to compare with:</label>
    <form action="{% url 'weight:comparision' owner_user.username %}" method="get" class= "form-inline">
   <select class="form-control" id="sel1" name="comparision_select">
       {% for profile in users %}
       <option value ="{{ profile.user.username }}">{{ profile.user.username }}</option>
       {% endfor %}
   </select>
   <button type="submit" class="btn btn-success in-line" margin-top ="10px">Submit</button>
   </form>
</div>
{% endif %}
{% endblock %}
